pkgbase = splayer
	pkgdesc = Splayer | A minimalist music player
	pkgver = null
	pkgrel = 1
	url = https://github.com/imsyy/SPlayer
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	depends = c-ares
	depends = ffmpeg
	depends = gtk3
	depends = libevent
	depends = libvpx
	depends = libxslt
	depends = libxss
	depends = minizip
	depends = nss
	depends = re2
	depends = snappy
	depends = libnotify
	optdepends = http-parser: required by some Electron builds
	optdepends = libappindicator: for system tray icon support
	provides = splayer=null
	conflicts = splayer
	noextract = splayer-null-x64.pacman
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/imsyy/SPlayer/releases/download/vnull/splayer-null-x64.pacman
	sha256sums_x86_64 = 0019dfc4b32d63c1392aa264aed2253c1e0c2fb09216f8e2cc269bbfb8bb49b5
	source_aarch64 = https://github.com/imsyy/SPlayer/releases/download/vnull/splayer-null-aarch64.pacman
	sha256sums_aarch64 = 0019dfc4b32d63c1392aa264aed2253c1e0c2fb09216f8e2cc269bbfb8bb49b5

pkgname = splayer
